@inject HttpClient Http
@inject IJSRuntime js
@inject NavigationManager uriHelper
@inject MudBlazor.ISnackbar snackBar
@inject IDialogService DialogService
@using PubSysLayout.Shared.SQLCatalog
@using TinyMCE.Blazor

<style>
    .tox-tinymce-aux {
        z-index: 110000;
    }

    .tox .tox-dialog-wrap__backdrop {
        background-color: var(--mud-palette-overlay-dark);
    }
</style>

<MudDialog DefaultFocus="DefaultFocus.Element">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Image" Class="mr-3 mb-n1"/>
            @MudDialog.Title
        </MudText>
    </TitleContent>
    <DialogContent>

        <div class="d-flex justify-center" style="height:150px">
            <MudImage Src="@ImgURL" Elevation="25" Class="rounded-lg" ObjectPosition="ObjectPosition.Center" Fluid="true" />
        </div>
        <MudForm @ref="form" @bind-IsValid="@canSave">
            <div Class="mt-4"><MudText Typo="Typo.caption">Description</MudText></div>
            <Editor ScriptSrc="lib/tinymce/tinymce.min.js" Conf="@editorConf" Inline="false" @bind-Value="FileInfo.Description" />
            <div Class="mt-4"><MudText Typo="Typo.caption">Licence</MudText></div>
            <Editor ScriptSrc="lib/tinymce/tinymce.min.js" Conf="@editorConf" Inline="false" @bind-Value="FileInfo.Licence" />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Filled">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="OK" Disabled="@(false/*!canSave*/)" Variant="Variant.Filled" accesskey="s"  Class="mr-5">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }
    
    [Parameter] 
    public Query Query { get; set; }

    [Parameter]
    public FileInfo FileInfo { get; set; }

    [Parameter]
    public string ImgURL { get; set; }


    MudForm form;
    bool canSave = false;


    private Dictionary<string, object> editorConf = new Dictionary<string, object>
    {
        //{"language" , "cs"},
        { "plugins", "link code" },
        {"toolbar", "undo redo | bold italic | link | code"}, /*underline*/
        //{"width", 400},
        {"height", 200},
        {"menubar", ""},
        {"promotion", false},
        {"statusbar", false},
        {"allow_unsafe_link_target", true },
        {"entity_encoding", "raw"}
    };

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async void OK()
    {
        await form.Validate();

        if (!form.IsValid)
        {
            return;
        }

        await Http.PutAsJsonAsync($"api/sqlcatalog/fileinfo?database={Query.Database}", FileInfo);
        snackBar.Add($"Image info saved", Severity.Success);

        MudDialog.Close(FileInfo);
    }
}
