@inject HttpClient Http
@inject LocalStorage localStorage
@inject SessionStorage session
@inject IJSRuntime js
@inject IDialogService DialogService


@using MudBlazor.Utilities

<style>
    .transformRotate {
        transform: rotate(90deg);
    }

    .expandRelated {
        transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    }

    .columnRow .mud-icon-button.notSortCoumn {
        opacity: 0.25;
    }

    .columnRow .mud-icon-button.SortCoumn {
        opacity: 1;
    }
</style>

<MudDialog DefaultFocus="DefaultFocus.None">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.AutoFixHigh" Class="mr-3 mb-n1" />
            @MudDialog.Title
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="d-flex">
            <div class="flex-grow-1 mr-4" style="flex-basis: 50%">
                <div class="d-flex">
                    <MudAutocomplete AutoFocus="true" T="string" Label="Main table" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Text" SearchFunc="@SearchTable" Clearable="true" ResetValueOnEmptyText="true" spellcheck="false" MaxItems="50" DebounceInterval="200" ValueChanged="TableChanged" Value="mainTable" />
                    <MudIconButton Disabled="@(String.IsNullOrEmpty(mainTable))" Icon="@Icons.Material.Filled.PlayArrow" Color="@(currentTable == mainTable ? Color.Primary : Color.Default)" Size="Size.Medium" Title="Show columns" OnClick="@(_ => currentTable = mainTable)" Class="ml-1 mt-3"></MudIconButton>
                    <MudSwitch @bind-Checked="@searchInside" Color="Color.Primary" title="Search inside table or view name" Class="ml-6 mt-4" />
                </div>
                @if (foreignKeys != null)
                {
                    <MudText Typo="Typo.subtitle1" Class="mt-4">JOIN tables:</MudText>
                    <MudContainer Style="height: 564px; overflow-y: scroll" Class="rounded-lg mud-alert-text-normal">
                        @foreach (var fk in sortedForeignKeys)
                        {
                            <div class="d-flex" Style='@($"margin-left:{20 * (fk[0].Split(',').Length - 2) }px")'>
                                @if (fk[0].EndsWith("[ADD]"))
                                {
                                    <MudFab Color="Color.Default" IconColor="Color.Primary" DisableElevation="true" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" Icon="@(Icons.Material.Filled.Add)" Style="margin-left: 37px;margin-top: 10px;margin-bottom: 5px" Title="Add JOIN to another table" OnClick="@(async (_) => await AddJoin(fk[0], fk[1]))" />
                                }
                                else
                                {
                                    <MudIconButton Icon="@(Icons.Material.Filled.ChevronRight)" Class="@(expandForeignKeys.Contains(fk[0]) ? "expandRelated transformRotate" : "expandRelated")" Size="Size.Medium" Title="Show related tables" Style='@($"visibility:{(joinForeignKeys.Contains(fk[0]) ? "visible" : "hidden")};margin-right: -15px")' OnClick="@(async _ => { if(expandForeignKeys.Contains(fk[0])) { expandForeignKeys.RemoveWhere(path => path.StartsWith(fk[0]));} else { expandForeignKeys.Add(fk[0]); } await LoadForeignKeys(); })"></MudIconButton>
                                    <MudCheckBox T="bool" Color="@(tableAlias.Keys.Contains(fk[0]) && currentTable == tableAlias[fk[0]] ? Color.Primary : Color.Default)" Title="JOIN table" Checked="@(joinForeignKeys.Contains(fk[0]))" CheckedChanged="async (v) => {if(v) {joinForeignKeys.Add(fk[0]); } else {joinForeignKeys.RemoveWhere(path => path.StartsWith(fk[0])); expandForeignKeys.RemoveWhere(path => path.StartsWith(fk[0])); addJoin.RemoveAll(aj => aj[0] == fk[0].Split(',').Last()); } await LoadForeignKeys(); if(tableAlias.ContainsKey(fk[0])){ /*await Task.Delay(500);*/ currentTable = tableAlias[fk[0]]; includeAll = true; StateHasChanged(); } } ">@((MarkupString)fk[1])</MudCheckBox>
                                    @if (joinForeignKeys.Contains(fk[0]) && fk[0].Split(',').Last().StartsWith("[join]"))
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="@(tableAlias.Keys.Contains(fk[0]) && currentTable == tableAlias[fk[0]] ? Color.Primary : Color.Default)" Size="Size.Medium" Title="Edit JOIN" OnClick="@(async (_) => await EditJoin(fk[0]))" />
                                    }
                                    @if (joinForeignKeys.Contains(fk[0]))
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.PlayArrow" Color="@(tableAlias.Keys.Contains(fk[0]) && currentTable == tableAlias[fk[0]] ? Color.Primary : Color.Default)" Size="Size.Medium" Title="Show columns" OnClick="@(_ => currentTable = tableAlias[fk[0]])"></MudIconButton>
                                    }
                                }
                            </div>
                        }
                    </MudContainer>
                }
            </div>
            <div class="flex-grow-1" style="flex-basis: 50%">
                @if (currentTable != null && columnsInfo != null && columnsInfo.ContainsKey(currentTable))
                {
                    <MudText Typo="Typo.subtitle1" Class="mt-4">Columns of table:</MudText>
                    <div Class="rounded-lg mud-alert-text-normal mt-0">
                        <div class="d-flex">
                            <MudSelect T="string" @bind-Value="currentTable" Clearable="false" Class="ml-6 mr-4 mt-4 flex-grow-1" Dense="true" Margin="Margin.Dense" Variant=" Variant.Outlined">
                                @foreach (var utn in tableAlias.Values.OrderBy(tn => tn))
                                {
                                    <MudSelectItem Value="@utn">@utn</MudSelectItem>
                                }
                            </MudSelect>
                            <MudTextField DebounceInterval="300" @bind-Value="searchField" Placeholder="Search column" Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentColor="Color.Info" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-4 mr-6 flex-grow-0" Clearable="true"></MudTextField>
                        </div>
                        <div class="d-flex">
                            <MudCheckBox T="bool" title="check/uncheck all" Checked="includeAll" Style="padding-left: 15px" CheckedChanged="(v) => {includeAll = v; foreach(var cn in includeColumns[currentTable].Keys) { includeColumns[currentTable][cn] = v; }}"></MudCheckBox>
                        </div>
                        <MudContainer Style="height: 400px; overflow-y: scroll; padding-left: 15px">
                            @foreach (var cn in columnsInfo[currentTable][0].Where(cn => String.IsNullOrEmpty(searchField) || cn.ToLower().Contains(searchField)))
                            {
                                var si = sortColumns.SingleOrDefault(sc => sc.TableName == currentTable && sc.ColumnName == cn);
                                <div class="d-flex columnRow">
                                    <MudCheckBox T="bool" title="include in SELECT" Class="mt-3" @bind-Checked="includeColumns[currentTable][cn]"></MudCheckBox>
                                    <MudTextField Label="@cn" Variant="Variant.Text" T="string" @bind-Value="whereClause[currentTable][cn]" title="WHERE Clause value"></MudTextField>
                                    <MudIconButton Icon="@(si != null && si.Desc ? Icons.Material.Filled.ArrowDownward : Icons.Material.Filled.ArrowUpward )" Color="Color.Primary" Class='@("mt-3 " + (si != null ? "sortCoumn" : "notSortCoumn"))' OnClick="@(_ => { AddToSortColumns(cn); })" Title='@(si == null ? "Add to ORDER BY": (si.Desc ? "Remove from ORDER BY" :"Change to DESC" ))'></MudIconButton>
                                </div>
                            }
                        </MudContainer>
                    </div>
                    <MudText Typo="Typo.subtitle1" Class="mt-4">ORDER BY:</MudText>
                    <MudDropContainer @ref="sortDropContainer" T="SortDropItem" Items="sortColumns" ItemsSelector="@((item,dropzone) => true)" ItemDropped="@((dropItem) => { sortColumns.UpdateOrder(dropItem, item => item.Order, 0); RefreshSortColumns(false); })">
                        <ChildContent>
                            <MudDropZone T="SortDropItem" Identifier="1" AllowReorder="true" Class="rounded-lg mud-alert-text-normal pa-2 mt-0 mx-0 flex-grow-1 d-flex flex-wrap" Style="min-height:74px" />
                        </ChildContent>
                        <ItemRenderer>
                            <MudPaper Elevation="2" Class="pa-2 ma-2">
                                @($"{context.TableName}.{context.ColumnName}")
                                <MudIconButton Color="Color.Primary" Icon="@(context.Desc ? Icons.Material.Filled.ArrowDownward : Icons.Material.Filled.ArrowUpward)" OnClick="@(_ => { context.Desc = !context.Desc; RefreshSortColumns(); })" Size="Size.Small" Title="@(context.Desc ? "DESC" : "ASC")"></MudIconButton>
                                <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Filled.Clear" OnClick="@(_ => { sortColumns.Remove(context); RefreshSortColumns(); })" Size="Size.Small" Title="Remove"></MudIconButton>
                            </MudPaper>
                        </ItemRenderer>
                    </MudDropContainer>
                }
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Filled" Class="ml-auto">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="OK" Variant="Variant.Filled" Disabled="@(String.IsNullOrEmpty(mainTable))" Class="mr-4">OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public string Database { get; set; }

    private string[] reservedKeywords = { "order", "date", "user", "unique", "default", "image", "tran", "public" };

    private bool searchInside = true;

    private bool includeAll = true;

    private string searchField = "";

    private string mainTable { get { return session["QB_tableName"] as string; } set { session["QB_tableName"] = value; } }
    private string currentTable { get { return session["QB_currentTable"] as string; } set { session["QB_currentTable"] = value; } }
    private Dictionary<string, string[][]> columnsInfo { get { return session["QB_columnsInfo"] as Dictionary<string, string[][]>; } set { session["QB_columnsInfo"] = value; } }
    private Dictionary<string, Dictionary<string, bool>> includeColumns { get { return session["QB_includeColumns"] as Dictionary<string, Dictionary<string, bool>>; } set { session["QB_includeColumns"] = value; } }
    private Dictionary<string, Dictionary<string, string>> whereClause { get { return session["QB_whereClause"] as Dictionary<string, Dictionary<string, string>>; } set { session["QB_whereClause"] = value; } }
    private List<SortDropItem> sortColumns { get { return session["QB_sortColumns"] as List<SortDropItem>; } set { session["QB_sortColumns"] = value; } }

    private string[][] foreignKeys { get { return session["QB_foreignKeys"] as string[][]; } set { session["QB_foreignKeys"] = value; } }
    private List<string[]> addJoin { get { return session["QB_addJoin"] as List<string[]>; } set { session["QB_addJoin"] = value; } }
    private List<string[]> sortedForeignKeys { get { return session["QB_sortedForeignKeys"] as List<string[]>; } set { session["QB_sortedForeignKeys"] = value; } }
    private HashSet<string> joinForeignKeys { get { return session["QB_joinForeignKeys"] as HashSet<string>; } set { session["QB_joinForeignKeys"] = value; } }
    private HashSet<string> expandForeignKeys { get { return session["QB_expandForeignKeys"] as HashSet<string>; } set { session["QB_expandForeignKeys"] = value; } }
    private Dictionary<string, string> tableAlias { get { return session["QB_tableAlias"] as Dictionary<string, string>; } set { session["QB_tableAlias"] = value; } }

    private MudDropContainer<SortDropItem> sortDropContainer;
    private class SortDropItem
    {
        public string TableName { get; init; }
        public string ColumnName { get; init; }
        public bool Desc { get; set; }
        public int Order { get; set; }
    }

    protected async override Task OnInitializedAsync()
    {
        if (String.IsNullOrEmpty(mainTable))
        {
            await TableChanged(await localStorage.GetAsync<string>("SQLQuery_query_tableName"));
        }
    }

    private async Task TableChanged(string value)
    {
        if (mainTable != value)
        {
            mainTable = value;
            currentTable = mainTable;
            joinForeignKeys = new HashSet<string>();
            expandForeignKeys = new HashSet<string>();
            addJoin = new();
            await localStorage.SetAsync("SQLQuery_query_tableName", mainTable);
            await LoadColumns();
            await LoadForeignKeys();
        }
    }

    private async Task LoadColumns()
    {
        if (!String.IsNullOrEmpty(mainTable))
        {
            columnsInfo = new();
            columnsInfo[mainTable] = await Http.GetFromJsonAsync<string[][]>($"api/sqlquery/tablecolumns?database={Database}&tablename={mainTable}");
            whereClause = new();
            whereClause[mainTable] = columnsInfo[mainTable][0].ToDictionary(s => s, s => "");
            includeColumns = new();
            includeColumns[mainTable] = columnsInfo[mainTable][0].ToDictionary(s => s, s => true);
            sortColumns = new();
        }
        else
        {
            columnsInfo = null;
            whereClause = null;
            includeColumns = null;
            sortColumns = null;
        }
        sortDropContainer?.Refresh();
    }

    private async Task LoadForeignKeys()
    {
        if (!String.IsNullOrEmpty(mainTable))
        {
            foreignKeys = await Http.GetFromJsonAsync<string[][]>($"api/sqlquery/tableforeignkeys?database={Database}&tablenames={String.Join(',', GetJoinTables())}");
            List<string[]> tmp = new List<string[]>();
            tableAlias = new Dictionary<string, string>();
            tableAlias[""] = mainTable;
            await foreach (var fk in SortForeignKeys(mainTable))
            {
                tmp.Add(fk);
            }
            sortedForeignKeys = tmp;
            if (!tableAlias.Values.Contains(currentTable))
            {
                currentTable = mainTable;
            }
            foreach (var rtn in columnsInfo.Keys.Where(utn => !tableAlias.Values.Contains(utn)).ToList())
            {
                columnsInfo.Remove(rtn);
                whereClause.Remove(rtn);
                includeColumns.Remove(rtn);
            }
            foreach (var sc in sortColumns.Where(sc => !tableAlias.Values.Contains(sc.TableName)).ToArray())
            {
                sortColumns.Remove(sc);
            }
            RefreshSortColumns();
        }
        else
        {
            foreignKeys = null;
            sortedForeignKeys = null;
        }
    }

    private void RefreshSortColumns(bool refresh = true)
    {
        sortColumns?.Sort((i1, i2) => i1.Order.CompareTo(i2.Order));
        if (refresh)
        {
            sortDropContainer?.Refresh();
        }
    }

    private void AddToSortColumns(string cn)
    {
        var si = sortColumns.SingleOrDefault(sc => sc.TableName == currentTable && sc.ColumnName == cn);

        if (si == null)
        {
            sortColumns.Add(new SortDropItem
                {
                    TableName = currentTable,
                    ColumnName = cn,
                    Order = sortColumns.Count > 0 ? sortColumns.Max(sc => sc.Order) + 1 : 0,
                    Desc = false
                });
        }
        else if (!si.Desc)
        {
            si.Desc = true;
        }
        else
        {
            sortColumns.Remove(si);
        }
        RefreshSortColumns();
    }

    private IEnumerable<string> GetJoinTables()
    {
        return joinForeignKeys
            .SelectMany(path => path.Split(','))
            .Select(fkn => foreignKeys.SingleOrDefault(fk => fk[0] == fkn))
            .Where(fk => fk != null)
            .SelectMany(fk => fk.Skip(1))
            .Union(new string[] { mainTable })
            .Union(addJoin.Select(aj => aj[2]))
            .Distinct();
    }

    private async IAsyncEnumerable<string[]> SortForeignKeys(string table, string fromTable = null, int level = 0, string path = "")
    {
        if (level > 10)
        {
            yield break;
        }

        foreach (string[] fk in GetForeignKeysFromTable(table, fromTable, path).Union(new string[][] { new string[] { "[ADD]", table, "" } }))
        {
            string path1 = path + (path == "" ? "" : ",") + fk[0];

            string tn = null, utn = null;
            if (joinForeignKeys.Contains(path1))
            {
                tn = (fk[1] == table || fk[1] == path) ? fk[2] : fk[1];
                utn = tn;
                int p = 0;
                while (tableAlias.Values.Any(s => s == utn))
                {
                    p++;
                    utn = tn + p;
                }
                tableAlias[path1] = utn;

                if (!columnsInfo.ContainsKey(utn))
                {
                    columnsInfo[utn] = await Http.GetFromJsonAsync<string[][]>($"api/sqlquery/tablecolumns?database={Database}&tablename={tn}");
                    whereClause[utn] = columnsInfo[utn][0].ToDictionary(s => s, s => "");
                    includeColumns[utn] = columnsInfo[utn][0].ToDictionary(s => s, s => true);
                }
            }

            if (fk[0] == "[ADD]")
            {
                yield return new string[] { path1, table };
            }
            else
            {
                yield return new string[] { path1, (fk[1] == path ? $"<b>{fk[2]}</b>" : (fk[1] == table || fk[1] == path ? $"{table} ⟹ <b>{fk[2]}</b>" : $"<b>{fk[1]}</b> ⟹ {table}")) + (tn != null && tn != utn ? " AS <b>" + utn : "</b>") };
            }

            if (joinForeignKeys.Contains(path1))
            {
                await foreach (string[] fk1 in SortForeignKeys(fk[1] == table || fk[1] == path ? fk[2] : fk[1], table, level + 1, path1))
                {
                    if (expandForeignKeys.Contains(path1))
                    {
                        yield return fk1;
                    }
                }
            }
        }
    }

    private async Task AddJoin(string addpath, string fromTable)
    {
        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.Small,
                CloseButton = true
            };

        string path = addpath.Replace("[ADD]", "").TrimEnd(',');

        var parameters = new DialogParameters
            {
                ["Database"] = Database,
                ["FromTable"] = fromTable,
                ["FromColumns"] = columnsInfo[fromTable],
                ["JoinType"] = "INNER JOIN"
            };


        var result = await DialogService.Show<AddJoinDialog>($"{fromTable}", parameters, options).Result;

        if (!result.Canceled)
        {
            string guid = "[join]" + Guid.NewGuid().ToString();
            string path1 = addpath.Replace("[ADD]", guid);

            string[] res = (string[])result.Data;

            addJoin.Add(new string[] { guid, path, res[0], res[1], fromTable, res[2] });
            joinForeignKeys.Add(path1);
            await LoadForeignKeys();
            currentTable = tableAlias[path1];
            includeAll = true;
            StateHasChanged();
        }
    }

    private async Task EditJoin(string path)
    {
        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.Small,
                CloseButton = true
            };

        var join = addJoin.FirstOrDefault(aj => aj[0] == path.Split(',').Last());
        string fromTable = join[4];

        var parameters = new DialogParameters
            {
                ["Database"] = Database,
                ["FromTable"] = fromTable,
                ["FromColumns"] = columnsInfo[fromTable],
                ["SelectedTable"] = join[2],
                ["JoinOn"] = join[3],
                ["JoinType"] = join[5],
                ["EditMode"] = true
            };


        var result = await DialogService.Show<AddJoinDialog>($"{fromTable}", parameters, options).Result;

        if (!result.Canceled)
        {
            string[] res = (string[])result.Data;
            join[3] = res[1];
            join[5] = res[2];
            await LoadForeignKeys();
            StateHasChanged();
        }
    }


    private async IAsyncEnumerable<string> GetJoinForeignKeys(string table, string fromTable = null, string path = "")
    {
        foreach (string[] fk in GetForeignKeysFromTable(table, fromTable, path))
        {
            string path1 = path + (path == "" ? "" : ",") + fk[0];

            if (joinForeignKeys.Contains(path1))
            {
                string tn = fk[1] == table || fk[1] == path ? fk[2] : fk[1];
                string utn = tableAlias[path1];

                yield return $" {(fk[0].StartsWith("[join]") ? fk[5] : "INNER JOIN")}\r\n    " + (tn != utn ? tn + " AS " + utn : utn) + " ON " + (await GetForeignKeyJoinOn(fk[0], tn, utn, table, tableAlias[path]));
                await foreach (string fk1 in GetJoinForeignKeys(fk[1] == table || fk[1] == path ? fk[2] : fk[1], table, path1))
                {
                    yield return fk1;
                }
            }
        }
    }

    private async Task<string> GetForeignKeyJoinOn(string fkName, string tn, string utn, string tn1, string utn1)
    {
        if (fkName.StartsWith("[join]"))
        {
            return addJoin.Single(aj => aj[0] == fkName)[3].Replace($"{tn}.", $"{utn}.").Replace($"{tn1}.", $"{utn1}.");
        }
        else
        {
            var columns = await Http.GetFromJsonAsync<string[][]>($"api/sqlquery/foreignkeycolumns?database={Database}&fkname={fkName}");
            string res = String.Join(" AND ", columns.Select(r => $"{(r[0] == tn ? utn : utn1)}.{r[1]} = {(r[2] == tn ? utn : utn1)}.{r[3]}"));
            return res;
        }
    }

    private IEnumerable<string> GetTableColumnList(string table, string fromTable = null, string path = "")
    {
        yield return String.Join(", ", columnsInfo[tableAlias[path]][0].Where(c => includeColumns[tableAlias[path]][c]).Select(s => tableAlias[path] + "." + (reservedKeywords.Contains(s.ToLower()) ? $"[{s}]" : s)));

        foreach (string[] fk in GetForeignKeysFromTable(table, fromTable, path))
        {
            string path1 = path + (path == "" ? "" : ",") + fk[0];

            if (joinForeignKeys.Contains(path1))
            {
                foreach (string s in GetTableColumnList(fk[1] == table || fk[1] == path ? fk[2] : fk[1], table, path1))
                {
                    yield return s;
                }
            }
        }
    }

    private IEnumerable<string[]> GetForeignKeysFromTable(string table, string fromTable, string path)
    {
        return foreignKeys
                .Where(fk => (fk[1] == table || fk[2] == table) && (fk[1] != fromTable && fk[2] != fromTable))
                .OrderBy(fk => fk[1] == table ? 0 : 1)
                .ThenBy(fk => fk[1] == table ? fk[2] : fk[1])
                .Union(addJoin.Where(j => j[1] == path));
    }

    private async Task OK()
    {
        if (String.IsNullOrEmpty(mainTable))
        {
            return;
        }

        string columns = String.Join(",\r\n    ", GetTableColumnList(mainTable).Where(cl => !String.IsNullOrEmpty(cl)));

        string where = String.Join(" AND \r\n    ",
            whereClause.Keys.SelectMany(utn =>
            whereClause[utn]
                .Where(kv => !String.IsNullOrEmpty(kv.Value))
                .Select(kv => utn + "." + (reservedKeywords.Contains(kv.Key.ToLower()) ? $"[{kv.Key}]" : kv.Key) + (kv.Value.Contains('%') ? " LIKE " : "=") + (double.TryParse(kv.Value, out _) ? kv.Value : $"'{kv.Value}'"))));

        string join = "";
        if (joinForeignKeys.Count > 0)
        {
            List<string> joinTables = new List<string>();
            await foreach (var s in GetJoinForeignKeys(mainTable))
            {
                joinTables.Add(s);
            }
            join = String.Concat(joinTables);
        }

        string sort = "";
        if (sortColumns.Count > 0)
        {
            sort = String.Join(",\r\n    ", sortColumns.OrderBy(sc => sc.Order).Select(sc => $"{sc.TableName}.{sc.ColumnName}{(sc.Desc ? " DESC" : "")}"));
        }

        string sql =
        $@"SELECT TOP 200
    {columns}
FROM
    {mainTable}";

        if (!String.IsNullOrEmpty(join))
        {
            sql += join;
        }

        if (!String.IsNullOrEmpty(where))
        {
            sql += $@"
WHERE
    {where}";
        }

        if (!String.IsNullOrEmpty(sort))
        {
            sql += $@"
ORDER BY
    {sort}";
        }


        foreach (var tn in GetJoinTables())
        {
            if (columnsInfo.ContainsKey(tn))
            {
                await js.InvokeVoidAsync("codemirror.setTableHintOptions", "taSQL", tn, columnsInfo[tn][0]);
            }
        }

        MudDialog.Close(DialogResult.Ok(sql));
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task<IEnumerable<string>> SearchTable(string value)
    {
        return await Http.GetFromJsonAsync<string[]>($"api/sqlquery/searchtable?database={Database}&search={value}&searchinside={searchInside}");
    }
}