@inject HttpClient Http

<MudDialog DefaultFocus="DefaultFocus.None">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.GridOn" Class="mr-3 mb-n1" />
            @MudDialog.Title
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="d-flex">
            <MudAutocomplete AutoFocus="true" T="string" Label="Type table name" AnchorOrigin="Origin.BottomCenter" @bind-Value="tableName" Variant="Variant.Text" SearchFunc="@SearchTable" Clearable="true" ResetValueOnEmptyText="true" spellcheck="false" MaxItems="50" DebounceInterval="200" />
            <MudSwitch @bind-Checked="@searchinside" Color="Color.Primary" title="Search inside table or view name" Class="ml-6 mt-4" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Filled" Class="ml-auto">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="OK" Variant="Variant.Filled" Disabled="@(String.IsNullOrEmpty(tableName))" Class="mr-4" >OK</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string Database { get; set; }

    private bool searchinside = true;
    private string tableName = null;

    private async Task OK()
    {
        if (String.IsNullOrEmpty(tableName))
        {
            return;
        }

        string[] reservedKeywords = { "order", "date", "user", "unique" };

        var columns = String.Join(", ", (await Http.GetFromJsonAsync<string[]>($"api/sqlquery/tablecolumns?database={Database}&tablename={tableName}")).Select(s => reservedKeywords.Contains(s.ToLower()) ? $"[{s}]" : s));

        MudDialog.Close(DialogResult.Ok(
$@"SELECT TOP 200 
    {columns} 
FROM 
    {tableName}"));
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task<IEnumerable<string>> SearchTable(string value)
    {
        return await Http.GetFromJsonAsync<string[]>($"api/sqlquery/searchtable?database={Database}&search={value}&searchinside={searchinside}");
    }
}